doctype html
html
  head
    title #{title} | Matt.Dodson.Digital
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block head.css
      link(rel='stylesheet', href='/stylesheets/index.css')

    block head.js
      script.
        (function(d) {var config = {kitId: 'fqg8iue', scriptTimeout: 3000}, h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);
      script(src='bower_components/modernizr/modernizr.js')
  body
    block content
    block body.js
      script(src='bower_components/jquery/dist/jquery.min.js')
      script(src='bower_components/jquery-ui/jquery-ui.min.js')
